<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SQnnect</title>
	<link rel="stylesheet"  type="text/css"  href="/style.css">

</head>

<body>
  <table>
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Problems
        </th>
        <th>
        	Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="sqnnect_table : ${Quetions}">
        <td th:text="${sqnnect_table.id}">
        </td>
        <td th:text="${sqnnect_table.problems}">
        </td>
        <td class='select'>
          <a id="button" class='button' type='submit' th:value="${sqnnect_table.id}" th:name="${sqnnect_table.id}" th:href="@{/list/id(id=${sqnnect_table.id})}">Run
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>